/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body
{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.color{
    background-color: rgb(211, 47, 47);
    color: white;
    border: none;
    height: 30px;
  
    border-radius: 20px;
    
}
.flex{
    display: flex;
}
.left
{
    flex-wrap: nowrap;
}
.right-camera{
    padding-left: 350px;
}
.middle-write{
    text-align: center;
}
.middle-pic-grid{
    display: flex;
    grid-template-rows: repeat(3, 1fr);
}
.bonus-pic{
    width: 100%;
    border-radius: 10px;
    margin-top: 50px;
}
.flex-two{
    display: flex;
}
.bonus-right
{
    margin-left: 100px;
}
.black-block
{
    background-color: black;
    color: white;
    text-align: center;
}
.margin{
    margin-right: 10px;
}
