/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body
{
    font-family: 'Poppins', sans-serif;
}
/* .total-margin{
    margin: 10px 5px;
}
 */
h1{
    font-size: 50px;
}
.color{
    background-color: rgb(211, 47, 47);
    color: white;
    border: none;
    height: 30px;
  border-radius: 20px;
    
}
.flex{
    display: flex;
}
.left
{
    flex-wrap: nowrap;
}
.right-camera{
    padding-left: 350px;
}
.middle-write{
    text-align: center;
}
.right-camera img{
transform: translateY(-10%);
    animation: floater 1.5s infinite;
    transition: ease 0.5s;
    

}
.bonus-pic{
    width: 100%;
    border-radius: 10px;
    margin-top: 50px;
}
.flex-two{
    display: flex;
}
.bonus-right
{
    margin-left: 100px;
}
.black-block
{
    background-color: black;
    color: white;
    text-align: center;
}
.color-radius
{
    background-color: rgb(211, 47, 47);
    border: none;
    height: 30px;
    color: white;

}
.margin{
    margin-right: 10px;
}


.star-color{
    color: gold;

}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.item{
    
    width: 329px;
    height: 477px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #f8e7e7;
    border-radius: 5px;
}
.image-item{
    margin: 0;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}
.item-div{
    font-family:serif;
    padding-left: 15px;
    font-weight: 700px;
}

